{% extends 'base.html.twig' %}




{% block body %}
   {# {% for i in app.User  %}

        <li>{{ i.getId() }}</li>
    {% endfor %}#}
<div class="wrapper">
    <div class="flexContainer">
        <div class="firstCol">


            {% if app.user.imageName==null %}
                <img src="https://image.flaticon.com/icons/svg/72/72905.svg"  class="img-fluid rounded" alt="Responsive image rounded" style="width:100px;">
            {% else%}
                <img src="{{ asset('imagenes/user/' ~ app.user.imageName) }}" class="img-fluid rounded" alt="Responsive image rounded" style="width:100px;">
            {% endif %}
            <i>{{ app.user.username }}</i>

        </div>
        <div class="secondCol">
            <div class="innerFlex">



    {% for mensaje in perfil%}

        <div class="col-12">
            <div class="card mb-3">
                <div class="card-block">
                    <h4 class="card-title"><img src="http://institutomedios.com/wp-content/uploads/2015/01/perfil_de_ana_beatriz_barros_wallpaper-35255.jpg" class="img-fluid rounded" alt="Responsive image rounded" style="width:50px;"> {{ mensaje.getUser().getUsername() }}</h4>
                    <p class="card-text">{{ mensaje.getInformacion() }}.</p>
                    <i class="card-text"><small class="text-muted">{{ mensaje.fechaHora | date('d/m/Y H:i') }}</small></i>
                </div>
                <img class="card-img-bottom" src="{{ asset('imagenes/mensaje/' ~ mensaje.imageName) }}" alt="Card image cap">
                <div class="card-footer text-muted center">
                    <i class="far fa-thumbs-up"></i> Me Gusta ({{ mensaje.meGustas }})
                </div>
            </div>
        </div>





    {% endfor %}
            </div>
        </div>
        <div class="thirdCol">
        <p>nose</p>
            </div>
        </div>
    </div>
{% endblock %}
